.form-page {
  width: 100%;
  height: 94vh;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 60%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  flex-direction: column;
  background: #423F3F;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.25);
}

.registration {
  height: 60% !important;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container form div, .form-container form label {
  color: #fff;
  
}

.form-container form div {
  margin-bottom: 20px;
}

.login-button, .register-btn {
  width: 50px;
  height: 40px;
  border-radius: 25%;
  padding: 10px;
  margin: auto;
  background: #c21858 !important;
  color: #fff !important;
  border: 1px solid #c21858 !important;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.25);
  transition: .3s ease-out;
}

.register-btn {
  width: 120px !important;
  border-radius: 10px !important;
}

.login-button:hover, .login-button:active {
  background: #d32868 !important;
  box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.25);
  width: 65px;
}
